<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
<div class="container" *ngIf="filtersLoaded | async">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="video-player-wrapper card">
        
        <vg-player class="card-body" style="text-align: center;">
          <video style="max-height: 70vh; width: 100%; height: auto; margin:0 auto" [vgMedia]="$any(media)" #media
            id="singleVideo" preload="auto" controls>

            <source src='{{enviroment}}/{{Video.video_url}}' >
            <vg-controls>
              <vg-volume></vg-volume>
            </vg-controls>

          </video>
        </vg-player>
        
        <div class="card-body">
          <h2>{{Video.title}}</h2>
          <hr>
          <h3 class="d-flex justify-content-between"> 
            <span>Peržiūros {{Video.clicks}}</span>
            <div>
              <button [disabled]="!allowReact" type="button" class="btn btn-success btn-xs" (click)="onReaction(true)">
                <i class="bi bi-hand-thumbs-up"></i> {{Video.likes}}
              </button> :
  
              <button [disabled]="!allowReact" type="button" class="btn btn-danger btn-xs" (click)="onReaction(false)">
                <i class="bi bi-hand-thumbs-down"></i> {{Video.dislikes}}
              </button>
            </div>
          </h3>

          

          <p>{{Video.description}}</p>

          <button *ngIf="showEdit" class="btn btn-primary btn-xs" [routerLink]="'/video/editVideo/' + videoId"><i class="bi bi-pencil"></i> Redaguoti vaizdo įrašą</button>

        </div>
        <style>

        </style>
      </div>
      <app-comments [videoId]="videoId"></app-comments>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="card-header">
        <h2> Žiūrėkite toliau </h2>
        <div class="card mt-3" *ngFor="let video of RecomendedVideoList">
          <a class="card my-6 text-decoration-none bg-dark text-light border-0" [routerLink]="'/viewVideo/' + video.id">
            <img class="card-img-top" src="{{enviroment}}/{{video.thumbnail_url}}"
              alt="Card image cap">
            <div class="card-body p-5">
              <h4 class="card-title" style="font-weight: bolder;">{{video.title}}</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3">
                  <h5 class="card-text">Peržiūros: {{video.clicks}} </h5>
                </div>
                <button class="btn btn-primary btn-xs" [routerLink]="'/viewVideo/' + video.id"><i class="bi bi-play"></i>Žiūrėti</button>
              </div>

            </div>
          </a>
        </div>
    </div>

  </div>
  
</div>

