<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h3 class="card-header h3 mb-3 font-weight-normal text-center">Prisijungti</h3>

            <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                {{ errors?.email }}
            </div>
            <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                {{ errors?.password }}
            </div>
            <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                {{ errors?.error }}
            </div>

            <div class="card-body ">


                <div class="form-group">
                    <label for="email">E-paštas</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">E-paštas yra privalomas</div>
                        <div *ngIf="f['email'].errors['email']">Turi būti E-paštas</div>
                    </div>
                </div>

                <div class="form-group">

                    <label for="password">Slaptažodis</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Slaptažodis yra privalomas</div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-primary"><i class="bi bi-check-lg"></i> Prisijungti</button>
            </div>
        </form>

    </div>
</div>