<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mb-4" *ngFor="let video of userVideos">
            <div class="card my-6 text-decoration-none bg-dark text-light border-0">

                <img class="card-img-top" style="height: 25rem;" src="{{enviroment}}/{{video.thumbnail_url}}"
                    alt="Card image cap">
                <div class="card-body p-5">
                    <h4 class="card-title" style="font-weight: bolder;">{{video.title}}</h4>
                    <p class="card-text description">{{video.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex gap-3">
                            <h5 class="card-text">Peržiūros: {{video.clicks}} </h5>           
                            <span class="card-text">Įkelta {{video.created_at}}</span>
                        </div>
                        <button class="btn btn-success btn-xs" [routerLink]="'/viewVideo/' + video.id"><i class="bi bi-play"></i> Žiūrėti</button>
                        <button *ngIf="!allowEdit" class="btn btn-primary btn-xs" [routerLink]="'/video/editVideo/' + video.id"><i class="bi bi-pencil"></i> Redaguoti</button>
                        <button *ngIf="!allowDelete" type="button" class="btn btn-danger btn-xs" (click)="onDelete(video.id)"><i class="bi bi-file-x"></i> Trinti</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>