<div class="container">
  <h3 class="card-header bg-dark text-light">Mano prašymai</h3>
    
    <button class="btn btn-success btn-xs " type="button" [routerLink]="['/request-genre']"><i class="bi bi-plus-square"></i> Pateikti naują žymos prašymą</button>
        
    <div class="card">
      <table class="table table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">Pavadinimas</th>
            <th scope="col">Priežastis</th>
            <th scope="col">Statusas</th>
            <th scope="col">Pateikimo data</th>
            <th scope="col" style="width: 1%; white-space: nowrap;"></th>
          </tr>
        </thead>
        <tbody>
            
          <tr *ngFor="let request of UserGenreRequests">
            <th scope="row">{{request.title}}</th>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>{{request.created_at}}</td>
            <td class="btn-group" style="width: 1%; white-space: nowrap;">
                
              <button type="button" class="btn btn-danger btn-xs" (click)="onDelete(request.id)"><i class="bi bi-file-x"></i> Trinti</button>
              
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
 