<footer class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Apie SphereWatch</h3>
                <p style="text-align: left;">
                    Sveiki visi atyvkę į SphereWatch.
                    Mūsų tikslas - sukurti ir pateikti nemokamą, atviro kodo ir lengvai naudojimą vaizdo įrašų įkėlimo ir dalinimosi sistemą.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Kontaktai</h3>
                <p>
                    <i class="fa fa-envelope"></i>
                    <a> Mantas Požela IFK-8 2022 </a>
                </p>
            </div>
        </div>
    </div>
</footer>
